Repository alibaba/BladeDISC, pull requests merged in 2023-02, with the labels that each got.

#958 Support DISC backend in torch_quant tool
  tools/torch_quant/bert_ptq_demo.py
  tools/torch_quant/tests/test_min_max_observer.py
  tools/torch_quant/tests/test_quantizer.py
  tools/torch_quant/torch_quant/graph.py
  tools/torch_quant/torch_quant/observed_module.py
  tools/torch_quant/torch_quant/observer.py
  tools/torch_quant/torch_quant/quantizer.py
Labels: quant

#1005 [torch-quant] add per-channel min/max observer
  tools/torch_quant/tests/test_min_max_observer.py
  tools/torch_quant/torch_quant/observer.py
Labels: quant

#1021 fix torch_quant ci
  tools/torch_quant/tests/models.py
  tools/torch_quant/tests/test_quantizer.py
  tools/torch_quant/torch_quant/observer.py
  tools/torch_quant/torch_quant/quantizer.py
Labels: quant

#1010 [torch-quant] add lsq quantizer
  tools/torch_quant/tests/test_lsq_observer.py
  tools/torch_quant/torch_quant/observer.py
  tools/torch_quant/torch_quant/quantizer.py
Labels: quant

#1038 fix quantization info missing during stage change
  tools/torch_quant/tests/test_quantizer.py
  tools/torch_quant/torch_quant/graph.py
Labels: bug, quant

#1040 let scale & zp be scalar for per-tensor quantization
  tools/torch_quant/tests/test_histogram_observer.py
  tools/torch_quant/tests/test_min_max_observer.py
  tools/torch_quant/torch_quant/observer.py
Labels: quant

#944 Support decoder-only generation in hf transformers adapter.
  examples/PyTorch/Inference/hf_transformers/blade_adapter.py
  examples/PyTorch/Inference/hf_transformers/tests/test_optimize.py
  examples/PyTorch/Inference/hf_transformers/tests/test_pipeline.py
  examples/PyTorch/Inference/hf_transformers/tests/test_trace_model.py
  examples/PyTorch/Inference/hf_transformers/tests/test_wrapper_model.py
Labels: example

#1045 support qgemm with s32 bias on x86 platform
  pytorch_blade/tests/disc/pdl/test_e2e/test_quantization.py
  tao_compiler/mlir/xla/ral/context/common_context_impl_quantization.cc
Labels: quant

#1053 support use_cache for decoder-only model in hf transformers adapter
  examples/PyTorch/Inference/hf_transformers/blade_adapter.py
  examples/PyTorch/Inference/hf_transformers/tests/test_load_model_info.py
  examples/PyTorch/Inference/hf_transformers/tests/test_optimize.py
  examples/PyTorch/Inference/hf_transformers/tests/test_pipeline.py
  examples/PyTorch/Inference/hf_transformers/tests/test_trace_model.py
Labels: example
